*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura;
   
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
    overflow-y: auto;

}
body::-webkit-scrollbar{
    display: none;
}
*::selection{
    color: black;
    background-color: white;
}
.cursor{
    background-color: rgba(255, 255, 255, 0.928);
    height: 1.8vw;
    width: 1.8vw;
    position: fixed;
    z-index: 9;
    border-radius: 1.1rem;
    opacity: 0;
    filter: blur(8px);
}
.nav{
    /* background-color: aqua; */
    height: 8vw;
    width: 100vw;
    padding: 1vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
    position: absolute;
    color: rgba(255, 255, 255, 0.765);
    background-color: #000;  
}
.nav1{
    height: 100%;
    width: 15%;
    /* background-color: burlywood; */
    position: relative;
}
.nav .nav1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    position: absolute;
}
.nav .nav2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    gap: 3vw;
    position: relative;
}
.nav .nav2 a{
    font-size: 1.1rem;
    font-weight: 800;
    text-decoration: none;
    /* background-color: aqua;  */
    opacity: 0;
    position: relative;
    color: rgba(255, 255, 255, 0.765);
}
.nav .nav2 a::after{
    position: absolute;
    content: "";
    height: 1.5px;
    background-color: #ff004f;
    width: 0;
    border-radius: 1px;
    left: 0;
    bottom: -5px;
}
.nav .nav2 a:hover::after{
    width: 100%;
    transition: all ease 0.4s;
}
#home{
    /* background-color: aqua; */
    min-height: 100vh;
    width: 100vw;
    padding: 0 5vw;
    position: relative;
    color: rgba(255, 255, 255, 0.765);
    background-color: #000;  
}
#home .image-container{
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
}
#home .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#home .myinfo{
    height: 35%;
    width: 45%;
    /* background-color: aqua; */
    top:40%;
    left: 6%;
    position: absolute;
    opacity: 0;
}
#home .myinfo h1{
    position: absolute;
    font-size: 4.4vw;
}
#home .myinfo h1 span{
    color: #ff004f;
}
#home .myinfo p{
    font-size: 1.5vw;
}
#about{
    min-height: 70vh;
    width: 100vw;
    /* background-color: aqua; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3vw 5vw;
    position: relative;
    gap: 3vw;
    color: rgba(255, 255, 255, 0.765);
    background-color: #000;  
}
#about .about-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1.2rem;
    scale: 1.4;
}
#about .about-image{
    border-radius: 20px;
    overflow: hidden;
    height: 37vw;
    width: 27vw;
}
#about .about-mydets {
    /* background-color: red; */
    flex-basis: 60%;
    height: 10vw;
    margin-top: 2vw;
    position: relative;
}
#about .about-mydets p{
    margin-top: 1vw;
    font-size: 1.1rem;
}
#about .about-mydets .content-links{
    /* background-color: aqua; */
    margin: 1.1vw 0;
}
#about .about-mydets .content-links a{
    text-decoration: none;
    margin-right:3vw;
    font-size: 1.2rem;
    z-index: 9;
    /* background-color: aqua; */
    position: relative;
    cursor: pointer;
}

#about .about-mydets .content-links a::after{
    background-color: #ff004f;
    position: absolute;
    content: "";
    height: 1.5px;
    width: 0;
    bottom: -3px;
    left: 0px;
    border-radius: 1px;
}
#about .about-mydets .content-links a:hover::after{
    width: 50%;
    transition: all ease 0.4s;
}
#about .about-mydets .content span{
    color: #ff004f;
}
#about .about-mydets .content{
    position: absolute;
    transform: translate(80vw);
    transition: all ease 0.3s;
}
#services{
    min-height: 70vh;
    width: 100vw;
    padding: 1vw 5vw;
    position: relative;
    /* background-color: aqua; */
    background-color: #000;
}
#services .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}
#services h1{
    color: #fff;
    padding-bottom: 3vw;
    font-size: 2.5vw;
    font-weight: 800;

}
#services .container .block{
    /* background-color: rgb(24, 138, 238); */
    flex-basis: 28vw;
    padding: 2vw;
    background: #252525 ;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.765);
    transition: 0.4s ;
    
}
#services .container .block i{
    font-size: 2vw;
    padding-bottom:0.5vw ;
}
#services .container .block h2{
    font-size: 2rem;
    padding-bottom: 0.4vw;
}
#services .container .block a{
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(105, 166, 240);
    cursor: pointer;
    margin-top: 10px;
}
#services .container .block:hover{
    background-color: #ff004f;
    transform: translateY(-3vw);
}
#portfolio{
    min-height: 100vh;
    width: 100vw;
    padding: 1vw 5vw;
    position: relative;
    /* background-color: aqua; */
    background-color: #000;
    color: rgba(255, 255, 255, 0.765);
    position: relative;
}
#portfolio h1{
    font-size: 2.5vw;
    padding-bottom: 2.5vw;
    font-weight: 800;
}
#portfolio .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
#portfolio .container .port{
    flex-basis: 25%;
    height: 33vw;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
    /* border-top-left-radius: 20px; */
}
#portfolio .container .port img{
    height: 100%;
    width: 100%;
    scale: 1.2;
    object-fit: cover;
    object-position: center;
    position: relative;
}
#portfolio .container .port:hover .desc{
    display: block;
    transition: all ease 1s;

}
#portfolio .container .port .desc{
    position: absolute;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    transform: translateY(-33.33vw);
    padding: 5vw 2vw;
    height: 101%;
    width: 101%;
    color: #fff;
    display: none;
    transition: transform 1s;
    text-align: center;
}
#portfolio .container .port .desc h3{
    font-size: 1.7vw;
    padding-bottom: 0.6vw;

}

#portfolio .container .port .desc p{
    font-size: small;
    padding-bottom: 2vw;
}
#portfolio .container .port .desc a{
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    padding: 1vw;
    background-color: #fff;
    border-radius: 70px;
    margin-top: 1vw;
}




